.categorias {
   
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 10px;
   font-size: smaller;
   margin: 10px;
   
   
   
   
}
.categorias a{
    color: black;
    text-decoration: none;
    
   
}

