header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    


}
.decathlon {
    width: 150px;
    
    
   
}
.buscarbtn {
    background-image: url(src/assets/buscarbtn.png);
    background-size: cover;
    width: 40px;
    height: 35px;
    border-radius: 0 0.2rem 0.2rem 0;
    border: none;
    cursor: pointer;
    
}
.buscartxt{
    height: 30px;
    width: 400px;
    border-color: #0082C3;
    border-radius: 0.2rem 0 0 0.2rem;
}